In [1]:
# initial setup
%run "../../../common/0_notebooks_base_setup.py"

/media/paulati/Nuevo vol/paula/dh/2021/dsad_2021_paula/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

In [2]:
# NOTA: Esta es la forma de armar html con algun contenido dinamico. No borrar porque sirve como ejemplo

# cargo los estilos y la portada:

#css_path = '../../../common/dhds.css'

#raw_html = '<div class="Table">' \
#    '<div class="Row">' \
#        '<div class="Cell grey left"> <img src="' + gs.images_base_url + 'M1/CLASE_02_Python1/Presentacion/img/M1_CLASE_02_portada.png" align="center" /></div>' \
#        '<div class="Cell right">' \
#            '<div class="div-logo"><img src="' + gs.images_base_url + 'common/logo_DH.png" align="center" width=70% /></div>' \
#            '<div class="div-curso">DATA SCIENCE</div>' \
#            '<div class="div-modulo">MÓDULO 1</div>' \
#            '<div class="div-contenido">Entornos (Conda y Jupyter Notebooks) <br/> Repaso de Python</div>' \
#        '</div>' \
#    '</div>' \
#'</div>'

In [3]:
# importante: tagear como slide to remove y generar por linea de comandos 
#from IPython.display import HTML as html
#html("<link rel='stylesheet' href='" + css_path + "'>" + raw_html)

<link rel="stylesheet" href='../../../common/dhds.css'>
<div class="Table">
    <div class="Row">
        <div class="Cell grey left"> <img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_portada.png" align="center" width=90% alt="Portada"/> </div >                
    <div class="Cell right">
            <div class="div-logo"><img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/common/logo_DH.png" align="center" width=70% /></div> 
            <div class="div-curso">DATA SCIENCE</div>
            <div class="div-modulo">MÓDULO 2</div>            
            <div class="div-contenido">Pandas 2</div>        
        </div>
    </div>    
</div>

## Objetivos de la clase

---

- Profundizar los conocimientos sobre Pandas:

    - Trabajar con agrupamientos

    - Usar las tablas Pivot
    
    - Conocer como combinar los datos entre instancias de DataFrame. Joins.

<div class="div-dhds-fondo-1">  Repaso
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_separador.png" align="center"></img>    
</div>

### NumPy - arrays

---
Recordemos que las estructuras de datos de Pandas se construyen a partir de NumPy. 

NumPy trabaja con **array**, una estructura de datos que permite agrupar varios valores bajo un único nombre. Los elementos de un array son **todos del mismo tipo**. El array puede tener desde **1 a N dimensiones**.

<div class="Table">
    <div class="Row Clase03">
        <div class="Cell"><img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_03_Numpy/Presentacion/img/M1_CLASE_03_numpy_ndim.jpg" align="center" width=50% /></div>
    </div>
</div>

In [4]:
import numpy as np
import pandas as pd

### NumPy - arrays

---

**Dimensión 1**. Vector de 6 elementos.

In [5]:
data_list = [2, 7.5, 11, 0.33, 12, 230]
arr_dim1 = np.array(data_list)
print(arr_dim1)

[  2.     7.5   11.     0.33  12.   230.  ]

**Dimensión 2** . Matriz de 2 filas por 5 columnas.

In [6]:
arr_dim2 = np.zeros((2, 5))
arr_dim2

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

**Dimensión 3** . 2 matrices de 3 filas por 4 columnas.

In [7]:
arr_dim3 = np.ones((2,3,4))
arr_dim3

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

### Estructuras de datos de Pandas - Series

---

Una Series es un objeto similar a un vector **unidimensional**. 

Contiene un **array de valores** y un **array de etiquetas** asociados a estos valores **denominado índice**. Por default un índice se forma por valores enteros de 0 a N-1, donde N es la cantidad de valores en la serie.

Los valores de la serie pueden ser de cualquier tipo de datos, pero todos **los valores de una serie deben coincidir en su tipo**.

Las etiquetas, además de numéricas, también pueden ser de tipo cadena de caracteres.

<div>
    <div class = "mapa">
        <img src='https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_serie.jpg' alt="Presentacion" width=40% height=50% align="center">
    </div>
</div>

### Series

---

* Indice por default, tiene los valores 0 a 3.

In [8]:
valores =   [0.25, 0.5 , 0.75, 1.0] # es una lista
s_valores = pd.Series(valores)
s_valores.values

array([0.25, 0.5 , 0.75, 1.  ])

In [9]:
s_valores.index

RangeIndex(start=0, stop=4, step=1)

* Indice con etiquetas.

In [10]:
etiquetas = ['a' , 'b' , 'c' , 'd']
s_valores_e = pd.Series(valores, index=etiquetas)
s_valores_e.index

Index(['a', 'b', 'c', 'd'], dtype='object')

### Series

---

* Selección

In [11]:
print('Por posicion',s_valores_e[1])
print('Por etiqueta',s_valores_e['b'])

Por posicion 0.5
Por etiqueta 0.5

* `iloc` recibe como parámetro la posición y `loc` recibe como parámetro la etiqueta

In [12]:
print('Por posicion',s_valores_e.iloc[2])
print('Por etiqueta',s_valores_e.loc['c'])

Por posicion 0.75
Por etiqueta 0.75

### Tipos de indexing

---

Llamamos “indexing” al proceso de acceder a los elementos de la serie con algún criterio. 

Existen tres tipos de indexing:

* **Slicing**: cuando accedemos a los elementos con los parámetros start,stop,step (por default 1): <code>my_array[0:5:-1]</code>

* **Fancy Indexing**: Cuando creamos una lista de índices y la usamos para acceder a ciertos elementos del array: <code>my_array[[3,5,7,8]]</code>

* **Boolean Indexing**: Cuando creamos una “máscara booleana” (un array o lista de True y False) para acceder a ciertos elementos: <code>my_array[my_array > 4]</code>

### Tipos de indexing

---

* Slicing

In [13]:
print(s_valores_e[1:3])

b    0.50
c    0.75
dtype: float64

* Fancy indexing

In [14]:
s_valores_e[['a', 'd']]

a    0.25
d    1.00
dtype: float64

* Boolean Masking

In [15]:
s_valores_e[s_valores_e < 0.6]

a    0.25
b    0.50
dtype: float64

### Estructuras de datos de Pandas - Dataframe

---

Representa una estructura de datos **tabular** que contiene una colección de columnas, cada una de las cuales tiene un tipo de datos determinado (number, string, boolean, etc.).

Una instancia de DataFrame tiene **índices de columnas y de filas**.  

<div>
    <div class = "mapa">
        <img src='https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_dataframe.jpg' alt="Presentacion" width=40% height=50% align="center">
    </div>
</div>

### DataFrame

---

* El índice de fila es el default

In [16]:
provincia = ['Buenos Aires', 'CABA', 'Cordoba', 'Santa Fe', 'Salta']
primera_dosis = [150728, 53070, 44703, 37337, 16574]
segunda_dosis = [106446, 22097, 20987, 20328, 7443]

covid = {'provincia': provincia, 'primera_dosis': primera_dosis, 'segunda_dosis': segunda_dosis}
df_covid = pd.DataFrame(covid)
df_covid

      provincia  primera_dosis  segunda_dosis
0  Buenos Aires         150728         106446
1          CABA          53070          22097
2       Cordoba          44703          20987
3      Santa Fe          37337          20328
4         Salta          16574           7443

* El índice de fila es creado con los nombres de las provincias

In [17]:
covid = {'primera_dosis': primera_dosis, 'segunda_dosis': segunda_dosis}
df_covid_index = pd.DataFrame(covid, index = provincia)
df_covid_index

              primera_dosis  segunda_dosis
Buenos Aires         150728         106446
CABA                  53070          22097
Cordoba               44703          20987
Santa Fe              37337          20328
Salta                 16574           7443

### DataFrame

---

* Selección

In [18]:
df_covid_index['primera_dosis']

Buenos Aires    150728
CABA             53070
Cordoba          44703
Santa Fe         37337
Salta            16574
Name: primera_dosis, dtype: int64

* Selección. Otra forma

In [19]:
df_covid_index.primera_dosis

Buenos Aires    150728
CABA             53070
Cordoba          44703
Santa Fe         37337
Salta            16574
Name: primera_dosis, dtype: int64

### DataFrame - indexación

---

* `iloc` recibe como parámetro las posiciones y `loc` recibe como parámetros las etiquetas

In [20]:
df_covid_index.iloc[:3, 0:1]

              primera_dosis
Buenos Aires         150728
CABA                  53070
Cordoba               44703

In [21]:
df_covid_index.loc['CABA':'Santa Fe', :'segunda_dosis']

          primera_dosis  segunda_dosis
CABA              53070          22097
Cordoba           44703          20987
Santa Fe          37337          20328

### DataFrame - indexación

---

* Fancy indexing

In [22]:
df_covid_index.loc[['Salta', 'Cordoba'], ['segunda_dosis', 'primera_dosis']]

         segunda_dosis  primera_dosis
Salta             7443          16574
Cordoba          20987          44703

* Boolean Masking

In [23]:
df_covid_index.loc[df_covid_index.primera_dosis > 50000, :]

              primera_dosis  segunda_dosis
Buenos Aires         150728         106446
CABA                  53070          22097

### DataFrame - nueva columna

---

In [24]:
df_covid_index['diferencia'] = df_covid_index.primera_dosis - df_covid_index.segunda_dosis
df_covid_index

              primera_dosis  segunda_dosis  diferencia
Buenos Aires         150728         106446       44282
CABA                  53070          22097       30973
Cordoba               44703          20987       23716
Santa Fe              37337          20328       17009
Salta                 16574           7443        9131

<div class="div-dhds-fondo-1">  Agrupamientos
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_separador.png" align="center"></img>    
</div>

### Introducción

---

Para realizar el análisis de los datos, uno de los pasos necesarios es agregarlos en forma eficiente; obtener la suma, promedio, máximo, mínimo de los valores de una columna (o fila), por ejemplo, nos permite obtener un primer acercamiento a los datos.

Cuando requerimos agrupamientos más complejos, podemos recurrir a las llamadas operaciones `groupby` que implementan el concepto de *split-apply-combine*.

---

Primero presentamos el dataset que usamos, con datos de aplicaciones de vacunas Covid en la ciudad de Buenos Aires.
Fuente: https://data.buenosaires.gob.ar/dataset/plan-de-vacunacion-covid-19

In [25]:
df_vacunas = pd.read_csv("../Data/dataset_total_vacunas.csv", sep = ",") 
print(df_vacunas.shape)
df_vacunas.head(2)

(1865, 7)

,FECHA_ADMINISTRACION,GRUPO_ETARIO,GENERO,VACUNA,TIPO_EFECTOR,DOSIS_1,DOSIS_2
0,22FEB2021,30 o menos,F,Covishield,Publico,13,0
1,22FEB2021,30 o menos,F,Sputnik,Privado,97,5

### Agregaciones simples

---

Pandas ofrece un conjunto de métodos que realizan operaciones matemáticas y estadísticas, llamados en su conjunto como **Estadísticas Descriptivas**. O bien *Pandas aggregation methods*.

En general, a partir de una Serie o un DataFrame, devuelven *un simple valor* o *un resumen de valores*.

Algunos ejemplos: *count*, cuenta los valores no nulos; *min*, *max* obtiene el valor mínimo y máximo, *sum* suma los valores, etc.

Para ver todos los métodos ir a <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#descriptive-statistics" target="_blank">https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#descriptive-statistics</a>

---

Veamos algunos métodos:

* *sum*: suma los valores de una columna.

In [26]:
df_vacunas.DOSIS_1.sum()

114396

### Agregaciones simples

---

* *describe* genera estadísticas de las columnas del DataFrame. Por default, para las columnas numéricas.

In [27]:
df_vacunas.describe()

           DOSIS_1      DOSIS_2
count  1865.000000  1865.000000
mean     61.338338    17.876139
std     184.241441    42.557575
min       0.000000     0.000000
25%       2.000000     0.000000
50%      13.000000     0.000000
75%      53.000000    13.000000
max    2581.000000   385.000000

sobre columnas no numéricas también indica algunas estadísticas.

In [28]:
df_vacunas.GRUPO_ETARIO.describe()

count        1865
unique          8
top       31 a 40
freq          361
Name: GRUPO_ETARIO, dtype: object

### Agregaciones simples

---

* *value_counts*: devuelve la cantidad de apariciones de cada valor distinto de una columna, ordenados de mayor a menor cantidad (el primer elemento es el más frecuente). 

La información que provee es similar a la de un histograma.

In [29]:
df_vacunas_ge = df_vacunas.GRUPO_ETARIO.value_counts()
df_vacunas_ge.head(3)

31 a 40    361
41 a 50    352
51 a 60    342
Name: GRUPO_ETARIO, dtype: int64

* *idxmax*: devuelve el índice de fila que contiene el máximo valor de cada columna.

In [30]:
df_vacunas_1 = df_vacunas.loc[:,['DOSIS_1','DOSIS_2']]
df_vacunas_1.idxmax(axis=0)

DOSIS_1     984
DOSIS_2    1537
dtype: int64

In [31]:
df_vacunas_1.iloc[984]

DOSIS_1    2581
DOSIS_2       0
Name: 984, dtype: int64

### Split-apply-combine

---

Cuando requerimos agrupamientos más complejos, podemos recurrir a las llamadas operaciones `groupby`. El término *group by* proviene de las consultas de bases de datos con SQL. Se pueden explicar con el concepto de **split-apply-combine**.

+ Primero, los datos en un objeto Pandas (`Series` o `DataFrame`) *se dividen en grupos en base a una o más keys* que definimos (**split**). 

+ Luego, *aplicamos una función a cada uno de los grupos* (**apply**).

+ Por último, los resultados *se combinan en un único resultado* (**combine**).

<div>
    <div class = "mapa">
        <img src='https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M2/CLASE_11_Pandas2/Presentacion/img/split_apply_combine.PNG' alt="Split_apply_combine" width=60% height=70% align="center">
    </div>
</div>

### Split-apply-combine

---

Por ejemplo, seleccionemos los vacunados para un dia y grupo etario determinado.

In [32]:
df_vacunas_02FEB = df_vacunas[(df_vacunas.FECHA_ADMINISTRACION == '02FEB2021') & (df_vacunas.GRUPO_ETARIO == '30 o menos')]
df_vacunas_02FEB

,FECHA_ADMINISTRACION,GRUPO_ETARIO,GENERO,VACUNA,TIPO_EFECTOR,DOSIS_1,DOSIS_2
609,02FEB2021,30 o menos,F,Sputnik,Privado,8,12
610,02FEB2021,30 o menos,F,Sputnik,Publico,60,148
611,02FEB2021,30 o menos,F,Sputnik,Publico nacional,5,12
612,02FEB2021,30 o menos,M,Sputnik,Privado,3,10
613,02FEB2021,30 o menos,M,Sputnik,Publico,21,70
614,02FEB2021,30 o menos,M,Sputnik,Publico nacional,1,8

Y ahora los agrupo:

- Los divido por el valor de la columna GENERO. (*split*)

- Sumo para cada grupo el valor de la columna DOSIS_1. (*apply*)

- Se combinan los resultados. (*combine*)

In [33]:
df_vacunas_02FEB.groupby('GENERO')['DOSIS_1'].sum()

GENERO
F    73
M    25
Name: DOSIS_1, dtype: int64

### DataFrameGroupBy

---
Cuando usamos simplemente el método `groupby` sobre un dataframe, se genera un objeto **DataFrameGroupBy**, sobre el cual luego aplicamos operaciones sobre cada grupo.

In [34]:
df_grouped = df_vacunas.groupby('GENERO')
type(df_grouped)

pandas.core.groupby.generic.DataFrameGroupBy

Los *grupos* se forman con los valores distintos que tiene la columna usada en el groupby.

`groups` muestra cada grupo; el valor y los índices de las filas donde se encuentra.

In [35]:
df_grouped.groups

{'F': [0, 1, 2, 3, 8, 9, 10, 11, 16, 17, 18, 19, 24, 25, 26, 27, 32, 33, 34, 35, 40, 41, 42, 47, 48, 51, 54, 55, 56, 57, 58, 64, 65, 66, 67, 68, 73, 74, 75, 76, 77, 82, 83, 84, 85, 86, 92, 93, 94, 95, 100, 101, 102, 107, 108, 112, 113, 116, 117, 118, 119, 120, 126, 127, 128, 129, 130, 136, 137, 138, 139, 140, 146, 147, 148, 149, 150, 156, 157, 158, 159, 160, 165, 166, 167, 168, 169, 175, 176, 177, 182, 183, 184, 188, 189, 190, 191, 192, 197, 198, ...], 'M': [4, 5, 6, 7, 12, 13, 14, 15, 20, 21, 22, 23, 28, 29, 30, 31, 36, 37, 38, 39, 43, 44, 45, 46, 49, 50, 52, 53, 59, 60, 61, 62, 63, 69, 70, 71, 72, 78, 79, 80, 81, 87, 88, 89, 90, 91, 96, 97, 98, 99, 103, 104, 105, 106, 109, 110, 111, 114, 115, 121, 122, 123, 124, 125, 131, 132, 133, 134, 135, 141, 142, 143, 144, 145, 151, 152, 153, 154, 155, 161, 162, 163, 164, 170, 171, 172, 173, 174, 178, 179, 180, 181, 185, 186, 187, 193, 194, 195, 196, 202, ...]}

Al aplicar operaciones sobre el objeto **DataFrameGroupBy**, el resultado es devuelto en una Serie o DataFrame **indexado por los valores únicos de la clave del groupby**.

Por ejemplo, la operacion `max` devuelve un dataframe con el máximo de cada columna, *para cada valor único de la columna GENERO (F/M)*.

In [36]:
df_grouped.max()

,FECHA_ADMINISTRACION,GRUPO_ETARIO,VACUNA,TIPO_EFECTOR,DOSIS_1,DOSIS_2
GENERO,,,,,,
F,31JAN2021,91 o mas,Sputnik,Publico nacional,2581,385
M,31JAN2021,91 o mas,Sputnik,Publico nacional,1425,242

Podemos aplicar la operación sobre una sola columna.

In [37]:
df_grouped['DOSIS_1'].median()

GENERO
F    17
M    10
Name: DOSIS_1, dtype: int64

Podemos usar el *dataframe original*. Calculemos el porcentaje de aplicaciones por genero.

In [38]:
df_grouped['DOSIS_1'].sum() / df_vacunas['DOSIS_1'].sum()

GENERO
F    0.654035
M    0.345965
Name: DOSIS_1, dtype: float64

### DataFrameGroupBy

---
Se puede usar *más de una columna* como clave.

In [39]:
df_grouped = df_vacunas.groupby(['GENERO','TIPO_EFECTOR'])
df_grouped['DOSIS_1'].sum()

GENERO  TIPO_EFECTOR
F       Privado             12641
        Publico             59496
        Publico nacional     2682
M       Privado              7360
        Publico             30627
        Publico nacional     1590
Name: DOSIS_1, dtype: int64

### Aggregate, transform, filter

---
Una vez que tenemos construidos los grupos, como resultado de la etapa *split*, en la siguiente etapa *apply* podemos realizar sobre ellos operaciones de:

* **agregación**: cálculo de estadísticas de resumen para cada grupo. Por ejemplo, sum o mean.

* **transformación**: cálculos específicos por grupos devolviendo nuevos objetos indexados del mismo modo. Por ejemplo, llenar los NA dentro de un grupo con un valor calculado.

* **filtro**: descartar algunos grupos de acuerdo a algún cálculo sobre el grupo que devuelva True o False. Por ejemplo, descartar los grupos con pocos miembros.

### Aggregate

---
Si bien ya usamos agregaciones como sum(), median(), etc, el método `aggregate()` permite más flexibilidad.

Por ejemplo, permite realizar *varias agregaciones a la vez*.

In [40]:
df_grouped = df_vacunas.groupby(['TIPO_EFECTOR'])
df_grouped.aggregate(['min', np.median, max])

                 DOSIS_1              DOSIS_2
                     min median   max     min median  max
TIPO_EFECTOR
Privado                0     13   337       0      0  246
Publico                0     34  2581       0      0  385
Publico nacional       0      5    66       0      1   43

También podemos seleccionar las agregaciones por columna. Tenemos que generar *un diccionario del tipo {columna:agregacion}*.

In [41]:
df_vacunas.groupby(['TIPO_EFECTOR']).aggregate({'DOSIS_1': 'max', 'DOSIS_2': 'sum'})

                  DOSIS_1  DOSIS_2
TIPO_EFECTOR
Privado               337     5426
Publico              2581    25500
Publico nacional       66     2413

### Transform

---
Mientras que la agregación devuelve un resumen de los datos, transformación *devuelve los datos a los cuales se le aplicó una función a nivel de grupo*. 

**Importante:** el atributo shape, la medida de la salida de la transformación, *es igual al objeto original*.

En este ejemplo, primero calcula el promedio por genero, y luego lo aplica a cada fila del dataframe original.

In [42]:
df_vacunas.groupby('GENERO')['DOSIS_1'].mean()

GENERO
F    80.623922
M    42.237994
Name: DOSIS_1, dtype: float64

In [43]:
df_vacunas.iloc[3:5]

,FECHA_ADMINISTRACION,GRUPO_ETARIO,GENERO,VACUNA,TIPO_EFECTOR,DOSIS_1,DOSIS_2
3,22FEB2021,30 o menos,F,Sputnik,Publico nacional,11,2
4,22FEB2021,30 o menos,M,Covishield,Publico,4,0

In [44]:
df_vacunas.groupby('GENERO').transform(lambda x: x.mean()).iloc[3:5]

     DOSIS_1    DOSIS_2
3  80.623922  23.105603
4  42.237994  12.696905

### Filter

---
Una operación de filtro permite eliminar datos *a partir de alguna propiedad de los grupos*.

En este ejemplo, primero calcula el total de DOSIS_2 por grupo etario, y luego selecciona solo los grupos etarios con más de 10000 dosis (solo '31 a 40'). Y devuelve solo las filas de ese grupo etario.

In [45]:
df_grouped = df_vacunas.groupby('GRUPO_ETARIO')
df_grouped['DOSIS_2'].sum()

GRUPO_ETARIO
30 o menos     5050
31 a 40       10503
41 a 50        8676
51 a 60        6388
61 a 70        2380
71 a 80         311
81 a 90          29
91 o mas          2
Name: DOSIS_2, dtype: int64

In [46]:
df_grouped.filter(lambda grp: grp['DOSIS_2'].sum() > 10000).head(3)

,FECHA_ADMINISTRACION,GRUPO_ETARIO,GENERO,VACUNA,TIPO_EFECTOR,DOSIS_1,DOSIS_2
8,22FEB2021,31 a 40,F,Covishield,Publico,10,0
9,22FEB2021,31 a 40,F,Sputnik,Privado,201,11
10,22FEB2021,31 a 40,F,Sputnik,Publico,562,13

### Apply

---
El método `apply()` permite aplicar *una función definida por nosotros* a los grupos resultantes del groupby.

En este ejemplo, generamos una función que calcula el porcentaje de cada DOSIS_1 respecto a la suma de todas las DOSIS_2 para cada tipo de efector. Y lo devuelve en cada fila, sobre la columna DOSIS_1.

In [47]:
def porcentaje_dosis1(x):
    x['DOSIS_1'] /= x['DOSIS_2'].sum()
    return x

In [48]:
df_grouped = df_vacunas.groupby('TIPO_EFECTOR')
df_grouped['DOSIS_2'].sum()

TIPO_EFECTOR
Privado              5426
Publico             25500
Publico nacional     2413
Name: DOSIS_2, dtype: int64

### Apply

---

In [49]:
df_grouped.apply(porcentaje_dosis1).head(5)

,FECHA_ADMINISTRACION,GRUPO_ETARIO,GENERO,VACUNA,TIPO_EFECTOR,DOSIS_1,DOSIS_2
0,22FEB2021,30 o menos,F,Covishield,Publico,0.000510,0
1,22FEB2021,30 o menos,F,Sputnik,Privado,0.017877,5
2,22FEB2021,30 o menos,F,Sputnik,Publico,0.011137,7
3,22FEB2021,30 o menos,F,Sputnik,Publico nacional,0.004559,2
4,22FEB2021,30 o menos,M,Covishield,Publico,0.000157,0

In [50]:
df_vacunas.head(5)

,FECHA_ADMINISTRACION,GRUPO_ETARIO,GENERO,VACUNA,TIPO_EFECTOR,DOSIS_1,DOSIS_2
0,22FEB2021,30 o menos,F,Covishield,Publico,13,0
1,22FEB2021,30 o menos,F,Sputnik,Privado,97,5
2,22FEB2021,30 o menos,F,Sputnik,Publico,284,7
3,22FEB2021,30 o menos,F,Sputnik,Publico nacional,11,2
4,22FEB2021,30 o menos,M,Covishield,Publico,4,0

<div class="div-dhds-fondo-1">  Tablas Pivot
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_separador.png" align="center"></img>    
</div>

### Introducción

---

Una **tabla pivot** o *tabla dinámica* es una herramienta que está disponible generalmente en programas de hojas de cálculo.

Crea medidas de resumen por una o más keys, usandolas como etiquetas de filas o columnas.

Pandas provee el método `pivot_table` sobre DataFrame y también como una función de pandas.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html

### Dataset

---
Usaremos un dataset de pinguinos.

<div>
    <div class = "mapa">
        <img src='https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M2/CLASE_11_Pandas2/Presentacion/img/pinguino.jpg' alt="Pinguino" width=35% height=40% align="center">
    </div>
</div>

In [51]:
import numpy as np
import pandas as pd
import seaborn as sns

In [52]:
penguins = sns.load_dataset("penguins")
print(penguins.shape)
penguins.sample(2)

(344, 7)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
140,Adelie,Dream,40.2,17.1,193.0,3400.0,Female
138,Adelie,Dream,37.0,16.5,185.0,3400.0,Female

### Tabla Pivot

---
Generemos una tabla pivot que muestre la masa corporal entre especie y sexo. Por default, la función de agregación que se aplica al dato que se analiza es *el promedio (`mean`)*.

In [53]:
penguins.pivot_table('body_mass_g', index='species', columns='sex')

sex             Female         Male
species
Adelie     3368.835616  4043.493151
Chinstrap  3527.205882  3938.970588
Gentoo     4679.741379  5484.836066

Los argumentos del método pivot_table son
* **primer argumento** - columna sobre la cual se realiza la agrupación. Se pueden aplicar distintas funciones de agregación.
* **index** - columna cuyos valores sirven de índice de la tabla dinámica.
* **columns** - columna cuyos valores sirven de columnas de la tabla dinámica.

### Multi level

---
La tabla pivot permite agregar una *tercera dimensión* a las dos que definimos en `index` y `columns`.
 
Generamos categorías sobre una columna usando `cut`; divide los valores de la columna en intervalos discretos, según lo indicado en el argumento `bins` (una lista de valores).

Para este ejemplo, usamos para categorizar la variable *flipper_length_mm*, generando dos intervalos según sus valores mínimos, máximos y la media.

In [54]:
penguins["flipper_length_mm"].describe()[['min','mean','max']]

min     172.000000
mean    200.915205
max     231.000000
Name: flipper_length_mm, dtype: float64

In [55]:
flipper_categories = pd.cut(penguins.flipper_length_mm, [172, 201, 231])
penguins.pivot_table('body_mass_g',['species',flipper_categories],'sex')

sex                               Female         Male
species   flipper_length_mm
Adelie    (172, 201]         3369.366197  4029.044118
          (201, 231]         3550.000000  4240.000000
Chinstrap (172, 201]         3531.060606  3807.954545
          (201, 231]         3400.000000  4179.166667
Gentoo    (201, 231]         4679.741379  5484.836066

### Multi level

---
Podemos agregar una nueva columna a la tabla pivot, y categorizar sus valores. En este caso, con la función `qcut` definimos en cuantos cuantiles discretizamos la columna. Y se puede generar una etiqueta para cada cuartil.

Definimos 3 cuartiles para la variable *bill_length_mm*, y etiquetamos a la longitud del pico como chico, medio y grande.

Con `fill_value` etiquetamos los valores nulos.

Observamos, entre otras cosas, que la especie *Adelie* no tiene pico grande.

In [56]:
bill_categories = pd.qcut(penguins.bill_length_mm, 3, labels=["chico", "medio", "grande"])

penguins.pivot_table('body_mass_g',['species',flipper_categories],[bill_categories,'sex'],
                    fill_value='No existen')

bill_length_mm                    chico                   medio              \
sex                              Female        Male      Female        Male
species   flipper_length_mm
Adelie    (172, 201]            3364.34        3980     3483.33     4099.11
          (201, 231]               3550        4300  No existen        4225
Chinstrap (172, 201]         No existen  No existen      3513.1  No existen
          (201, 231]         No existen  No existen        3400  No existen
Gentoo    (201, 231]         No existen  No existen     4633.33        5220

bill_length_mm                   grande
sex                              Female        Male
species   flipper_length_mm
Adelie    (172, 201]         No existen  No existen
          (201, 231]         No existen  No existen
Chinstrap (172, 201]             3562.5     3807.95
          (201, 231]         No existen     4179.17
Gentoo    (201, 231]            4801.56     5536.76

### Más funcionalidades

---
Podemos especificar **distintas** funciones de agregación para **distintas** columnas del DataFrame original.

In [57]:
penguins.pivot_table(index='species', columns='sex', aggfunc={'bill_length_mm':max,'body_mass_g':'mean'})

          bill_length_mm        body_mass_g
sex               Female  Male       Female         Male
species
Adelie              42.2  46.0  3368.835616  4043.493151
Chinstrap           58.0  55.8  3527.205882  3938.970588
Gentoo              50.5  59.6  4679.741379  5484.836066

Para calcular totales por grupo usamos `margins` y `margins_name`. Y para agregar en los totales por especie las filas que tienen nulos en el sexo agregamos `dropna=False`.

In [58]:
penguins.pivot_table('body_mass_g',index='species', columns='sex', dropna=False,
                     aggfunc={'body_mass_g':len}, margins=True, margins_name= "totales")

sex        Female   Male  totales
species
Adelie       73.0   73.0    152.0
Chinstrap    34.0   34.0     68.0
Gentoo       58.0   61.0    124.0
totales     165.0  168.0    344.0

<div class="div-dhds-fondo-1"> Combinando objetos DataFrame. Joins.
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_separador.png" align="center"></img>    
</div>

### Introducción

---
Con Pandas se pueden combinar Series y DataFrames, mediante distintos métodos que aplican la lógica de conjuntos y del álgebra relacional.

Es decir, pensando a las estructuras de datos como conjuntos, podemos aplicar funciones tales como union, joins, merge, intersect.

Para más información: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [59]:
df1 = pd.DataFrame(
{
    "A": ["A0", "A1", "A2", "A3"],
    "B": ["B0", "B1", "B2", "B3"],
    "C": ["C0", "C1", "C2", "C3"],
    "D": ["D0", "D1", "D2", "D3"],
},
     index=[0, 1, 2, 3]
 )

df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7]
)

df3 = pd.DataFrame(
    {
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    },
    index=[8, 9, 10, 11],
)

### Concat

---
Comencemos con tres dataframes:

In [60]:
print(df1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [61]:
print(df2)

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [62]:
print(df3)

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

### Concat

---
Realizamos una **union** de los dataframes *por filas*. `concat` tiene un parámetro axis, que por default es 0 (filas).

In [63]:
frames = [df1, df2, df3]
result = pd.concat(frames) # similar a pd.concat(frames,axis=0)
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

### Concat

---
Ahora generamos una **union** entre los dataframes *por columnas* (parámetro axis = 1). 

Agregamos el parámetro `join`; puede tomar dos valores. En ambos casos relaciona las filas **por el índice**.

* **outer**. Realiza la *union* de las columnas sin pérdida de información. Es el default.

* **inner**. Genera la *intersección* de las columnas. Se puede perder información.

In [64]:
df4 = pd.DataFrame(
     {
        "B": ["B2", "B3", "B6", "B7"],
        "D": ["D2", "D3", "D6", "D7"],
        "F": ["F2", "F3", "F6", "F7"],
    },
    index=[2, 3, 6, 7]
)

In [65]:
print(df1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [66]:
print(df4)

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [67]:
result = pd.concat([df1, df4], axis=1, join='outer')
result

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [68]:
result = pd.concat([df1, df4], axis=1, join='inner')
result

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

### Append

---
`append` es similar a `concat`, pero solo trabaja **por filas**.

Su uso más simple es igual a `concat`, con `axis=0`.

<div>
    <div class = "mapa">
        <img src='https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M2/CLASE_11_Pandas2/Presentacion/img/merging_append1.png' alt="Pinguino" width=35% height=40% align="center">
    </div>
</div>

In [69]:
df1.append(df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

### Append

---
`append` junta todas las filas, aunque tengan el mismo índice. Y junta también todas las columnas. Realiza la operación entre conjuntos *UNION ALL*.

<div>
    <div class = "mapa">
        <img src='https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M2/CLASE_11_Pandas2/Presentacion/img/merging_append2.png' alt="Pinguino" width=35% height=40% align="center">
    </div>
</div>

In [70]:
result = df1.append(df4, sort=False)
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

### Ignore_index

---
Tanto `concat`como `append` permite unir dataframes ignorando los índices originales y creando uno nuevo. Se logra con el parámetro `ignore_index=True`.


<div>
    <div class = "mapa">
        <img src='https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M2/CLASE_11_Pandas2/Presentacion/img/merging_append3.png' alt="Pinguino" width=35% height=40% align="center">
    </div>
</div>

In [71]:
result = pd.concat([df1, df4], ignore_index=True, sort=False)
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

### Merge

---
Pandas permite realizar operaciones de joins entre dataframes muy similar a como se realizan en las bases relacionales con SQL.

La idea principal es vincular (**join**) las filas de dos dataframes y generar un nuevo dataframe. Pandas ofrece la función `merge()` como punto de entrada para realizar los distintos *tipos de vínculos*.

El método `join()` usa internamente al método merge. En caso de combinar (o "joinear") dataframes *por sus índices* puede resultar conveniente usarlo. Más adelante veremos ejemplos.

### Merge

---
Los dataframes se vinculan por las claves (**keys**). Las claves son columnas o índices del dataframe. 

El vínculo puede realizarse mediante una o más columnas con el mismo nombre en ambos dataframes.

En este ejemplo, df1 y df2 se vinculan por la columna *key*. Y para cada valor de *key*, agrupa en la misma fila del dataframe resultante, las columnas de cada dataframe.

In [72]:
df1 = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

df2 = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

### Merge

---

In [73]:
print(df1)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [74]:
print(df2)

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [75]:
result = pd.merge(df1, df2, on="key", how='inner')
result

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

### Merge

---
Analicemos la función merge que usamos: 

`pd.merge(df1, df2, on="key", how='inner')`.

* Los primeros dos parámetros indican los dos dataframes, el primero se denomina "izquierdo", el segundo "derecho".

* `on` indica la/s columna/s que se usan como clave/s para vincular los dataframes.

* `how` indica el tipo de vínculo.

### Merge

---

El **tipo de vínculo** (o *tipo de join*) es determinante para definir el dataframe resultado.

Supongamos distintas situaciones que se pueden presentar con los dos dataframes df1 y df2:

<table style="color:black;font-size:12px;border:1px solid black;">
  <tr style="border:1px solid black;">
    <th>Casos</th>
    <th>df1 - key</th>
    <th>df2 - key</th>
  </tr>
  <tr>
    <td>Caso 1</td>
    <td>existe valor "a"</td>
    <td>existe valor "a"</td>
  </tr>
  <tr>
    <td>Caso 2</td>
    <td>existe valor "a"</td>
    <td>NO existe valor "a"</td>
  </tr>
  <tr>
    <td>Caso 3</td>
    <td>NO existe valor "b"</td>
    <td>existe valor "b"</td>
  </tr>
</table>

- En el *Caso 1*, como existe el valor en ambos dataframes, en el dataframe resultado se genera una fila con los valores de las columnas de ambos asociados a ese valor. Fue el ejemplo anterior.

- En el *Caso 2*, el valor solo existe en df1 (izquierdo). Tenemos dos posibilidades: no crear una fila en el dataframe resultado, o bien crearla con los valores de las columnas de df1, y a las columnas de df2 le agregamos valores nulos.

- En el *Caso 3*, el valor solo existe en df2 (derecho). Similar al anterior, tenemos dos posibilidades: no incluirlo en el dataframe resultado, o bien incluirlo con los valores de las columnas de df2, y a las columnas de df1 le agregamos valores nulos.

Si observamos la figura:

<div>
    <div class = "mapa">
        <img src='https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M2/CLASE_11_Pandas2/Presentacion/img/tipo_joins.png' alt="tabla merge" width=40% height=40% align="center">
    </div>
</div>

* **INNER JOIN** nos indica el *caso 1*, donde sólo quedan las filas cuyos valores en las claves figuren en ambos dataframes (izquierdo y derecho).

* **LEFT OUTER JOIN** nos indica el *caso 2*, la segunda posibilidad. Se crean todas las filas del dataframe del lado izquierdo. Y si crean todas las columnas del dataframe derecho: si el valor se encuentra en la clave, se agregan los valores de las columnas del df derecho, y si no existe, se completa con nulos.

* **RIGHT OUTER JOIN** nos indica el *caso 3*, la segunda posibilidad. Similar a *LEFT OUTER JOIN*.

* **FULL OUTER JOIN** combina *LEFT OUTER JOIN* y *LEFT OUTER JOIN*.

### Merge

---
Equivalencias entre los tipos de joins y el método que se debe aplicar con `merge`.

<div>
    <div class = "mapa">
        <img src='https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M2/CLASE_11_Pandas2/Presentacion/img/tipo_joins.png' alt="tabla merge" width=40% height=40% align="center">
    </div>
</div>

<div>
    <div class = "mapa">
        <img src='https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M2/CLASE_11_Pandas2/Presentacion/img/merge_methods.PNG' alt="tabla merge" width=60% height=40% align="center">
    </div>
</div>

### Merge - inner join

---
En este ejemplo, *inner join* deja como dataframe resultado solo una fila con `key=K0`, ya que es el único valor que se encuentra en ambos lados (o ambos dataframes).

In [76]:
df_left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K3"],
        "A": ["A0", "A1", "A3"],
        "B": ["B0", "B1", "B3"],
    }
)

df_right = pd.DataFrame(
    {
        "key": ["K0", "K2"],
        "C": ["C0", "C2"],
        "D": ["D0", "D2"],
    }
)

In [77]:
print(df_left)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K3  A3  B3

In [78]:
print(df_right)

  key   C   D
0  K0  C0  D0
1  K2  C2  D2

In [79]:
result = pd.merge(df_left, df_right, on="key",how='inner')
result

  key   A   B   C   D
0  K0  A0  B0  C0  D0

### Merge - left outer join

---
En este ejemplo, *left outer join* deja como dataframe resultado todo el dataframe izquierdo, y completa las columnas del dataframe derecho con valores (si existen) o con nulos.

Garantiza que todas las filas del izquierdo existan, pero se pueden perder filas del derecho.

In [80]:
print(df_left)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K3  A3  B3

In [81]:
print(df_right)

  key   C   D
0  K0  C0  D0
1  K2  C2  D2

In [82]:
result = pd.merge(df_left, df_right, on="key",how='left')
result

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1  NaN  NaN
2  K3  A3  B3  NaN  NaN

### Merge - right outer join

---
En este ejemplo, *right outer join* deja como dataframe resultado todo el dataframe derecho, y completa las columnas del dataframe izquierdo con valores (si existen) o con nulos.

Garantiza que todas las filas del derecho existan, pero se pueden perder filas del izquierdo.

In [83]:
print(df_left)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K3  A3  B3

In [84]:
print(df_right)

  key   C   D
0  K0  C0  D0
1  K2  C2  D2

In [85]:
result = pd.merge(df_left, df_right, on="key",how='right')
result

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K2  NaN  NaN  C2  D2

### Merge - full outer join

---
En este ejemplo, *full outer join* deja como dataframe resultado todas las filas de ambos dataframes. Si el valor existe en ambos, crea una sola fila.

Garantiza que todas las filas tanto del izquierdo como del derecho existan.

In [86]:
print(df_left)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K3  A3  B3

In [87]:
print(df_right)

  key   C   D
0  K0  C0  D0
1  K2  C2  D2

In [88]:
result = pd.merge(df_left, df_right, on="key",how='outer')
result

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1  NaN  NaN
2  K3   A3   B3  NaN  NaN
3  K2  NaN  NaN   C2   D2

### Merge - uno a muchos

---
Hasta ahora, cuando un valor existe en la clave de un dataframe, en el otro puede existir el mismo valor, o bien no existir. A estos casos los llamamos **joins uno a uno**.

Pero sucede que podemos tener en el otro dataframe *más* de un valor. En ese caso, se relaciona el valor *único* del lado izquierdo, con todos los valores iguales del lado derecho. Los llamamos **joins uno a muchos**.

In [89]:
df_state = pd.DataFrame(
    {
        "description": ["Mississippi", "Georgia", "Nevada"],
        "state": ["MS", "GA", "NV"],
    }
)

df_pop = pd.DataFrame(
    {
        "state": ["MS","MS","MS","GA","GA","GA", "NV","NV"],
        "year": ["1994", "1995", "1996","1994", "1995", "1996","1994", "1995"],
        "pop": ["3663314", "3744414", "3876515","4112323", "4204389", "4205212","5683200", "5809154"],
    }
)

In [90]:
df_state

   description state
0  Mississippi    MS
1      Georgia    GA
2       Nevada    NV

In [91]:
df_pop

  state  year      pop
0    MS  1994  3663314
1    MS  1995  3744414
2    MS  1996  3876515
3    GA  1994  4112323
4    GA  1995  4204389
5    GA  1996  4205212
6    NV  1994  5683200
7    NV  1995  5809154

### Merge - uno a muchos

---

In [92]:
result = pd.merge(df_state, df_pop, on="state",how='inner')
result

   description state  year      pop
0  Mississippi    MS  1994  3663314
1  Mississippi    MS  1995  3744414
2  Mississippi    MS  1996  3876515
3      Georgia    GA  1994  4112323
4      Georgia    GA  1995  4204389
5      Georgia    GA  1996  4205212
6       Nevada    NV  1994  5683200
7       Nevada    NV  1995  5809154

### Merge - varias claves

---
Hasta ahora, siempre trabajamos con una sola clave. Pero se pueden tener más de una.

Se aplica todo lo que vimos hasta ahora.

In [93]:
df_left = pd.DataFrame(
    {
        "key1": ["K10", "K11", "K13"],
        "key2": ["K20", "K21", "K23"],
        "A": ["A0", "A1", "A3"],
        "B": ["B0", "B1", "B3"],
    }
)

df_right = pd.DataFrame(
    {
        "key1": ["K10", "K11", "K12"],
        "key2": ["K20", "K21", "K22"],
        "C": ["C0", "C1", "C2"],
        "D": ["D0", "D1", "D2"],
    }
)

In [94]:
print(df_left)

  key1 key2   A   B
0  K10  K20  A0  B0
1  K11  K21  A1  B1
2  K13  K23  A3  B3

In [95]:
print(df_right)

  key1 key2   C   D
0  K10  K20  C0  D0
1  K11  K21  C1  D1
2  K12  K22  C2  D2

In [96]:
result = pd.merge(df_left, df_right, on=["key1","key2"],how='inner')
result

  key1 key2   A   B   C   D
0  K10  K20  A0  B0  C0  D0
1  K11  K21  A1  B1  C1  D1

### función Join

---
La función `join` realiza como `merge` la combinación de dataframes, usando los **índices** como claves. Permite escribir en forma muy reducida la misma funcionalidad.

In [97]:
df_left = pd.DataFrame(
    {"A": ["A0", "A1", "A2"], "B": ["B0", "B1", "B2"]}, index=["K0", "K1", "K2"]
)
df_right = pd.DataFrame(
    {"C": ["C0", "C2", "C3"], "D": ["D0", "D2", "D3"]}, index=["K0", "K2", "K3"]
)

In [98]:
df_left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [99]:
df_right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

### función Join

---

In [100]:
result = df_left.join(df_right, how="inner")
result

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

In [101]:
result = df_left.join(df_right, how="left")
result

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [102]:
result = df_left.join(df_right, how="outer")
result

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

<div class="div-dhds-fondo-1"> Hands-on
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_separador.png" align="center"></img>    
</div>

### Agrupamientos

---
A partir del dataset de los pinguinos, calcular el promedio de masa corporal, por especie e isla.

In [103]:
penguins.sample(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,Male
217,Chinstrap,Dream,49.6,18.2,193.0,3775.0,Male

### Tabla Pivot

---
Generar una tabla Pivot que muestre el promedio de la masa corporal (body_mass_g) entre las columnas *species* y *island*. 

Y crear una tercera dimensión con la columna *bill_depth_mm*, discretizada con 3 cuartiles, etiquetados como chico, medio y grande.

In [104]:
penguins.sample(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
187,Chinstrap,Dream,47.5,16.8,199.0,3900.0,Female
276,Gentoo,Biscoe,43.8,13.9,208.0,4300.0,Female

### Merge

---
A partir de los siguientes dataframes, generar los cuatro tipos de joins entre ellos.

In [105]:
df_left = pd.DataFrame(
    {
        "pais": ["Brasil", "Paraguay", "Peru"],
        "pop": ["210.461.000", "7.104.000", "32.362.000"],
        "covid_muertos": ["261.000", "3.200", "47.000"],
    }
)

df_right = pd.DataFrame(
    {
        "pais": ["Argentina", "Brasil", "Peru"],
        "capital": ["Buenos Aires", "Brasilia", "Lima"],
        "flor": ["ceibo", "ipé amarillo", "kantuta"],
    }
)

### Solución

----

### Agrupamientos

---
A partir del dataset de los pinguinos, calcular el promedio de masa corporal, por especie e isla.

In [106]:
penguins.sample(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
178,Chinstrap,Dream,50.5,18.4,200.0,3400.0,Female
188,Chinstrap,Dream,47.6,18.3,195.0,3850.0,Female

In [107]:
df_grouped = penguins.groupby(['species','island'])
df_grouped['body_mass_g'].mean()

species    island
Adelie     Biscoe       3709.659091
           Dream        3688.392857
           Torgersen    3706.372549
Chinstrap  Dream        3733.088235
Gentoo     Biscoe       5076.016260
Name: body_mass_g, dtype: float64

### Tabla Pivot

---
Generar una tabla Pivot que muestre el promedio de la masa corporal (body_mass_g) entre las columnas *species* y *island*. 

Y crear una tercera dimensión con la columna *bill_depth_mm*, discretizada con 3 cuartiles, etiquetados como chico, medio y grande.

In [108]:
penguins.sample(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
91,Adelie,Dream,41.1,18.1,205.0,4300.0,Male
178,Chinstrap,Dream,50.5,18.4,200.0,3400.0,Female

In [109]:
bill_categories = pd.qcut(penguins.bill_depth_mm, 3, labels=["chico", "medio", "grande"])

penguins.pivot_table('body_mass_g','species',[bill_categories,'island'],
                    fill_value='No existen')

bill_depth_mm       chico                               medio              \
island             Biscoe       Dream   Torgersen      Biscoe       Dream
species
Adelie             3212.5        2975        3300      3497.5        3535
Chinstrap      No existen  No existen  No existen  No existen     3559.85
Gentoo            5012.73  No existen  No existen     5611.54  No existen

bill_depth_mm                  grande
island          Torgersen      Biscoe       Dream   Torgersen
species
Adelie            3510.87     3947.73     3869.83     3910.58
Chinstrap      No existen  No existen     3896.43  No existen
Gentoo         No existen  No existen  No existen  No existen

### Merge

---
A partir de los siguientes dataframes, generar los cuatro tipos de joins entre ellos.

In [110]:
df_left = pd.DataFrame(
    {
        "pais": ["Brasil", "Paraguay", "Peru"],
        "pop": ["210.461.000", "7.104.000", "32.362.000"],
        "covid_muertos": ["261.000", "3.200", "47.000"],
    }
)

df_right = pd.DataFrame(
    {
        "pais": ["Argentina", "Brasil", "Peru"],
        "capital": ["Buenos Aires", "Brasilia", "Lima"],
        "flor": ["ceibo", "ipé amarillo", "kantuta"],
    }
)

### Merge

---

Tipo de join **INNER JOIN**

In [111]:
result = pd.merge(df_left, df_right, on="pais",how='inner')
result

     pais          pop covid_muertos   capital          flor
0  Brasil  210.461.000       261.000  Brasilia  ipé amarillo
1    Peru   32.362.000        47.000      Lima       kantuta

Tipo de join **LEFT OUTER JOIN**

In [112]:
result = pd.merge(df_left, df_right, on="pais",how='left')
result

       pais          pop covid_muertos   capital          flor
0    Brasil  210.461.000       261.000  Brasilia  ipé amarillo
1  Paraguay    7.104.000         3.200       NaN           NaN
2      Peru   32.362.000        47.000      Lima       kantuta

### Merge

---

Tipo de join **RIGHT OUTER JOIN**

In [113]:
result = pd.merge(df_left, df_right, on="pais",how='right')
result

        pais          pop covid_muertos       capital          flor
0  Argentina          NaN           NaN  Buenos Aires         ceibo
1     Brasil  210.461.000       261.000      Brasilia  ipé amarillo
2       Peru   32.362.000        47.000          Lima       kantuta

Tipo de join **FULL OUTER JOIN**

In [114]:
result = pd.merge(df_left, df_right, on="pais",how='outer')
result

        pais          pop covid_muertos       capital          flor
0     Brasil  210.461.000       261.000      Brasilia  ipé amarillo
1   Paraguay    7.104.000         3.200           NaN           NaN
2       Peru   32.362.000        47.000          Lima       kantuta
3  Argentina          NaN           NaN  Buenos Aires         ceibo

<div class="div-dhds-fondo-1"> Referencias y Material Adicional
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M1/CLASE_05_Pandas1/Presentacion/img/M1_CLASE_05_separador.png" align="center"></img>    
</div>

### Referencias y Material Adicional

---
Python for Data Analysis. Wes McKinney. Cap 5

Python Data Science Handbook - Essential Tools for Working with Data. Jake VanderPlas. Cap 3.

<a href="https://pandas.pydata.org/docs/getting_started/" target="_blank" >Pandas Getting Started</a>

<a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html" target="_blank" >Pandas Essential basic functionality</a>

<a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html" target="_blank" >Pandas Pivot Table</a>

<a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html" target="_blank" >Pandas Merging</a>