# Unix Timestamp

### Problemas comunes con los datos de tipo timestamp o datetime

Las fechas se guardan como valores numericos, pero hay que definir un monton de cosas arbitrarias:

  1. No esta clara la zona horaria (pueden ser naive o aware). referencia geografica. Mostra [mapa](https://es.wikipedia.org/wiki/Tiempo_universal_coordinado#/media/Archivo:World_Time_Zones_Map.png)
  2. No esta claro desde cuando se cuentan. Referencia temporal cero.
  3. No esta claro como se cuentan. Que dia es el primero de la semana? Lunes, Domingo? Se empieza en 1 o en 0? Que es la primer semana de un año?
  4. No esta claro las convenciones de lenguaje. Que fecha es 06/05/12? Es 6 de mayo de 1912? es 5 de junio de 2012?
  5. ¿Como hago para adaptar los print al idioma o convencion local?

De todo esto se encarga la libreria datetime. Esta libreria esta incluida en numpy y en pandas, pero en pandas tiene algunas diferencias tecnicas para que pueda servir de indice, por eso se llama timestamp. 

### Como se solucionan los problemas

1. Las fechas por default no tienen zona horaria, son naive, pero se les puede agregar con la informacion timezone que permite representar la informacion de la zona horaria como una propiedad de la fecha. En este caso se dice que es una fecha conciente (aware). Sino asume que esta en el uso horario local.
2. Las fecha se guardan como el numero de segundos que transcurrieron desde el 1ero de Enero de 1970 (en grenwich). Son el numero de segundos desde ese momento. El resto es adaptaciones de formato que hace la libreria.
3. Hay convenciones. En general se toma la fecha como segundos, horas, dias, meses y años. Pero hay metodos que permiten cuantificar de otras maneras, por ejemplo en semanas. Hay mas de un formato y depende que metodo usemos como representa la informacion, pero el numero es siempre el mismo.
4. Lo mismo que el punto anterior. Segun que metodos usemos podemos usar una convencion u otra. Hay metodos que permiten configurar formatos a medida y hay metodos que recuperan las convenciones de la configuracion local sel sistema operativo. 
5. Lo mismo.

### Principales tipos de fechas (tienen diferentes metodos)

- period / timedelta : Representa un tiempo transcurrido, es una diferencia entre dos fechas. Guarda la cantidad de dias, segundos y microsegundos, y tiene todos los metodos usuales para representar esa informacion. Es util cuando se quiere hacer operaciones entre tiempos. Como sumar, restar, comparar, o hacer intervalos periodicos. 
- time : Esta pensado para representar tiempos menores a un dia, tiene los metodos asociados.
- date : Esta pensado para representar las fechas en funcion de los dias desde 01/01/1970. Tiene los metodos asociados.
- timedate : combina toda la informacion de una fecha, es el equivalente a timestamp de pandas.
- timezone : sirve para manipular la informacion de la zona horaria.

  - Convenciones de formato de fechas: https://strftime.org/
  - Documentacion completa en español: https://docs.python.org/es/3/library/datetime.html

In [4]:
from datetime import datetime

t = datetime.now()
print (t.timestamp())

1665709675.547432

In [9]:
print (datetime.now().isoformat())
print (datetime.now().ctime())

2022-10-13T22:12:49.226620
Thu Oct 13 22:12:49 2022

In [12]:
import pytz

for tz in pytz.all_timezones:
    print(tz)

Africa/Abidjan
Africa/Accra
Africa/Addis_Ababa
Africa/Algiers
Africa/Asmara
Africa/Asmera
Africa/Bamako
Africa/Bangui
Africa/Banjul
Africa/Bissau
Africa/Blantyre
Africa/Brazzaville
Africa/Bujumbura
Africa/Cairo
Africa/Casablanca
Africa/Ceuta
Africa/Conakry
Africa/Dakar
Africa/Dar_es_Salaam
Africa/Djibouti
Africa/Douala
Africa/El_Aaiun
Africa/Freetown
Africa/Gaborone
Africa/Harare
Africa/Johannesburg
Africa/Juba
Africa/Kampala
Africa/Khartoum
Africa/Kigali
Africa/Kinshasa
Africa/Lagos
Africa/Libreville
Africa/Lome
Africa/Luanda
Africa/Lubumbashi
Africa/Lusaka
Africa/Malabo
Africa/Maputo
Africa/Maseru
Africa/Mbabane
Africa/Mogadishu
Africa/Monrovia
Africa/Nairobi
Africa/Ndjamena
Africa/Niamey
Africa/Nouakchott
Africa/Ouagadougou
Africa/Porto-Novo
Africa/Sao_Tome
Africa/Timbuktu
Africa/Tripoli
Africa/Tunis
Africa/Windhoek
America/Adak
America/Anchorage
America/Anguilla
America/Antigua
America/Araguaina
America/Argentina/Buenos_Aires
America/Argentina/Catamarca
America/Argentina/ComodRivadavia
America/Argentina/Cordoba
America/Argentina/Jujuy
America/Argentina/La_Rioja
America/Argentina/Mendoza
America/Argentina/Rio_Gallegos
America/Argentina/Salta
America/Argentina/San_Juan
America/Argentina/San_Luis
America/Argentina/Tucuman
America/Argentina/Ushuaia
America/Aruba
America/Asuncion
America/Atikokan
America/Atka
America/Bahia
America/Bahia_Banderas
America/Barbados
America/Belem
America/Belize
America/Blanc-Sablon
America/Boa_Vista
America/Bogota
America/Boise
America/Buenos_Aires
America/Cambridge_Bay
America/Campo_Grande
America/Cancun
America/Caracas
America/Catamarca
America/Cayenne
America/Cayman
America/Chicago
America/Chihuahua
America/Coral_Harbour
America/Cordoba
America/Costa_Rica
America/Creston
America/Cuiaba
America/Curacao
America/Danmarkshavn
America/Dawson
America/Dawson_Creek
America/Denver
America/Detroit
America/Dominica
America/Edmonton
America/Eirunepe
America/El_Salvador
America/Ensenada
America/Fort_Nelson
America/Fort_Wayne
America/Fortaleza
America/Glace_Bay
America/Godthab
America/Goose_Bay
America/Grand_Turk
America/Grenada
America/Guadeloupe
America/Guatemala
America/Guayaquil
America/Guyana
America/Halifax
America/Havana
America/Hermosillo
America/Indiana/Indianapolis
America/Indiana/Knox
America/Indiana/Marengo
America/Indiana/Petersburg
America/Indiana/Tell_City
America/Indiana/Vevay
America/Indiana/Vincennes
America/Indiana/Winamac
America/Indianapolis
America/Inuvik
America/Iqaluit
America/Jamaica
America/Jujuy
America/Juneau
America/Kentucky/Louisville
America/Kentucky/Monticello
America/Knox_IN
America/Kralendijk
America/La_Paz
America/Lima
America/Los_Angeles
America/Louisville
America/Lower_Princes
America/Maceio
America/Managua
America/Manaus
America/Marigot
America/Martinique
America/Matamoros
America/Mazatlan
America/Mendoza
America/Menominee
America/Merida
America/Metlakatla
America/Mexico_City
America/Miquelon
America/Moncton
America/Monterrey
America/Montevideo
America/Montreal
America/Montserrat
America/Nassau
America/New_York
America/Nipigon
America/Nome
America/Noronha
America/North_Dakota/Beulah
America/North_Dakota/Center
America/North_Dakota/New_Salem
America/Nuuk
America/Ojinaga
America/Panama
America/Pangnirtung
America/Paramaribo
America/Phoenix
America/Port-au-Prince
America/Port_of_Spain
America/Porto_Acre
America/Porto_Velho
America/Puerto_Rico
America/Punta_Arenas
America/Rainy_River
America/Rankin_Inlet
America/Recife
America/Regina
America/Resolute
America/Rio_Branco
America/Rosario
America/Santa_Isabel
America/Santarem
America/Santiago
America/Santo_Domingo
America/Sao_Paulo
America/Scoresbysund
America/Shiprock
America/Sitka
America/St_Barthelemy
America/St_Johns
America/St_Kitts
America/St_Lucia
America/St_Thomas
America/St_Vincent
America/Swift_Current
America/Tegucigalpa
America/Thule
America/Thunder_Bay
America/Tijuana
America/Toronto
America/Tortola
America/Vancouver
America/Virgin
America/Whitehorse
America/Winnipeg
America/Yakutat
America/Yellowknife
Antarctica/Casey
Antarctica/Davis
Antarctica/DumontDUrville
Antarctica/Macquarie
Antarctica/Mawson
Antarctica/McMurdo
Antarctica/Palmer
Antarctica/Rothera
Antarctica/South_Pole
Antarctica/Syowa
Antarctica/Troll
Antarctica/Vostok
Arctic/Longyearbyen
Asia/Aden
Asia/Almaty
Asia/Amman
Asia/Anadyr
Asia/Aqtau
Asia/Aqtobe
Asia/Ashgabat
Asia/Ashkhabad
Asia/Atyrau
Asia/Baghdad
Asia/Bahrain
Asia/Baku
Asia/Bangkok
Asia/Barnaul
Asia/Beirut
Asia/Bishkek
Asia/Brunei
Asia/Calcutta
Asia/Chita
Asia/Choibalsan
Asia/Chongqing
Asia/Chungking
Asia/Colombo
Asia/Dacca
Asia/Damascus
Asia/Dhaka
Asia/Dili
Asia/Dubai
Asia/Dushanbe
Asia/Famagusta
Asia/Gaza
Asia/Harbin
Asia/Hebron
Asia/Ho_Chi_Minh
Asia/Hong_Kong
Asia/Hovd
Asia/Irkutsk
Asia/Istanbul
Asia/Jakarta
Asia/Jayapura
Asia/Jerusalem
Asia/Kabul
Asia/Kamchatka
Asia/Karachi
Asia/Kashgar
Asia/Kathmandu
Asia/Katmandu
Asia/Khandyga
Asia/Kolkata
Asia/Krasnoyarsk
Asia/Kuala_Lumpur
Asia/Kuching
Asia/Kuwait
Asia/Macao
Asia/Macau
Asia/Magadan
Asia/Makassar
Asia/Manila
Asia/Muscat
Asia/Nicosia
Asia/Novokuznetsk
Asia/Novosibirsk
Asia/Omsk
Asia/Oral
Asia/Phnom_Penh
Asia/Pontianak
Asia/Pyongyang
Asia/Qatar
Asia/Qostanay
Asia/Qyzylorda
Asia/Rangoon
Asia/Riyadh
Asia/Saigon
Asia/Sakhalin
Asia/Samarkand
Asia/Seoul
Asia/Shanghai
Asia/Singapore
Asia/Srednekolymsk
Asia/Taipei
Asia/Tashkent
Asia/Tbilisi
Asia/Tehran
Asia/Tel_Aviv
Asia/Thimbu
Asia/Thimphu
Asia/Tokyo
Asia/Tomsk
Asia/Ujung_Pandang
Asia/Ulaanbaatar
Asia/Ulan_Bator
Asia/Urumqi
Asia/Ust-Nera
Asia/Vientiane
Asia/Vladivostok
Asia/Yakutsk
Asia/Yangon
Asia/Yekaterinburg
Asia/Yerevan
Atlantic/Azores
Atlantic/Bermuda
Atlantic/Canary
Atlantic/Cape_Verde
Atlantic/Faeroe
Atlantic/Faroe
Atlantic/Jan_Mayen
Atlantic/Madeira
Atlantic/Reykjavik
Atlantic/South_Georgia
Atlantic/St_Helena
Atlantic/Stanley
Australia/ACT
Australia/Adelaide
Australia/Brisbane
Australia/Broken_Hill
Australia/Canberra
Australia/Currie
Australia/Darwin
Australia/Eucla
Australia/Hobart
Australia/LHI
Australia/Lindeman
Australia/Lord_Howe
Australia/Melbourne
Australia/NSW
Australia/North
Australia/Perth
Australia/Queensland
Australia/South
Australia/Sydney
Australia/Tasmania
Australia/Victoria
Australia/West
Australia/Yancowinna
Brazil/Acre
Brazil/DeNoronha
Brazil/East
Brazil/West
CET
CST6CDT
Canada/Atlantic
Canada/Central
Canada/Eastern
Canada/Mountain
Canada/Newfoundland
Canada/Pacific
Canada/Saskatchewan
Canada/Yukon
Chile/Continental
Chile/EasterIsland
Cuba
EET
EST
EST5EDT
Egypt
Eire
Etc/GMT
Etc/GMT+0
Etc/GMT+1
Etc/GMT+10
Etc/GMT+11
Etc/GMT+12
Etc/GMT+2
Etc/GMT+3
Etc/GMT+4
Etc/GMT+5
Etc/GMT+6
Etc/GMT+7
Etc/GMT+8
Etc/GMT+9
Etc/GMT-0
Etc/GMT-1
Etc/GMT-10
Etc/GMT-11
Etc/GMT-12
Etc/GMT-13
Etc/GMT-14
Etc/GMT-2
Etc/GMT-3
Etc/GMT-4
Etc/GMT-5
Etc/GMT-6
Etc/GMT-7
Etc/GMT-8
Etc/GMT-9
Etc/GMT0
Etc/Greenwich
Etc/UCT
Etc/UTC
Etc/Universal
Etc/Zulu
Europe/Amsterdam
Europe/Andorra
Europe/Astrakhan
Europe/Athens
Europe/Belfast
Europe/Belgrade
Europe/Berlin
Europe/Bratislava
Europe/Brussels
Europe/Bucharest
Europe/Budapest
Europe/Busingen
Europe/Chisinau
Europe/Copenhagen
Europe/Dublin
Europe/Gibraltar
Europe/Guernsey
Europe/Helsinki
Europe/Isle_of_Man
Europe/Istanbul
Europe/Jersey
Europe/Kaliningrad
Europe/Kiev
Europe/Kirov
Europe/Lisbon
Europe/Ljubljana
Europe/London
Europe/Luxembourg
Europe/Madrid
Europe/Malta
Europe/Mariehamn
Europe/Minsk
Europe/Monaco
Europe/Moscow
Europe/Nicosia
Europe/Oslo
Europe/Paris
Europe/Podgorica
Europe/Prague
Europe/Riga
Europe/Rome
Europe/Samara
Europe/San_Marino
Europe/Sarajevo
Europe/Saratov
Europe/Simferopol
Europe/Skopje
Europe/Sofia
Europe/Stockholm
Europe/Tallinn
Europe/Tirane
Europe/Tiraspol
Europe/Ulyanovsk
Europe/Uzhgorod
Europe/Vaduz
Europe/Vatican
Europe/Vienna
Europe/Vilnius
Europe/Volgograd
Europe/Warsaw
Europe/Zagreb
Europe/Zaporozhye
Europe/Zurich
GB
GB-Eire
GMT
GMT+0
GMT-0
GMT0
Greenwich
HST
Hongkong
Iceland
Indian/Antananarivo
Indian/Chagos
Indian/Christmas
Indian/Cocos
Indian/Comoro
Indian/Kerguelen
Indian/Mahe
Indian/Maldives
Indian/Mauritius
Indian/Mayotte
Indian/Reunion
Iran
Israel
Jamaica
Japan
Kwajalein
Libya
MET
MST
MST7MDT
Mexico/BajaNorte
Mexico/BajaSur
Mexico/General
NZ
NZ-CHAT
Navajo
PRC
PST8PDT
Pacific/Apia
Pacific/Auckland
Pacific/Bougainville
Pacific/Chatham
Pacific/Chuuk
Pacific/Easter
Pacific/Efate
Pacific/Enderbury
Pacific/Fakaofo
Pacific/Fiji
Pacific/Funafuti
Pacific/Galapagos
Pacific/Gambier
Pacific/Guadalcanal
Pacific/Guam
Pacific/Honolulu
Pacific/Johnston
Pacific/Kanton
Pacific/Kiritimati
Pacific/Kosrae
Pacific/Kwajalein
Pacific/Majuro
Pacific/Marquesas
Pacific/Midway
Pacific/Nauru
Pacific/Niue
Pacific/Norfolk
Pacific/Noumea
Pacific/Pago_Pago
Pacific/Palau
Pacific/Pitcairn
Pacific/Pohnpei
Pacific/Ponape
Pacific/Port_Moresby
Pacific/Rarotonga
Pacific/Saipan
Pacific/Samoa
Pacific/Tahiti
Pacific/Tarawa
Pacific/Tongatapu
Pacific/Truk
Pacific/Wake
Pacific/Wallis
Pacific/Yap
Poland
Portugal
ROC
ROK
Singapore
Turkey
UCT
US/Alaska
US/Aleutian
US/Arizona
US/Central
US/East-Indiana
US/Eastern
US/Hawaii
US/Indiana-Starke
US/Michigan
US/Mountain
US/Pacific
US/Samoa
UTC
Universal
W-SU
WET
Zulu

In [16]:
t_a = datetime.now(pytz.timezone('Australia/Perth'))
t_a
t_a.timestamp()
print (t_a)

2022-10-14 09:19:29.381520+08:00

In [22]:
t = datetime.now()
t.month_name()

AttributeError: 'datetime.datetime' object has no attribute 'month_name'

In [33]:
import pandas as pd
t = pd.Timestamp.now()
t.month_name()

t.strftime("%W")

'41'

In [44]:
fechas_str = ["13/03/11","11/2/2001","1-4-2001","110101","01Jan2001"]
data = pd.DataFrame({"Fechas Str":fechas_str})

data['Fecha'] = pd.to_datetime(data['Fechas Str'])
data

  Fechas Str      Fecha
0   13/03/11 2011-03-13
1  11/2/2001 2001-11-02
2   1-4-2001 2001-01-04
3     110101 2001-11-01
4  01Jan2001 2001-01-01

In [40]:
print (pd.to_datetime('170901 100500', format='%d%m%y %H%M%S'))
print (pd.to_datetime('20170109 100500-10:30', format='%Y%d%m %H%M%S%z'))

2001-09-17 10:05:00
2017-09-01 10:05:00-10:30

## Situacion a resolver

Tenemos un dataset con notas de alumnos (los numeros son todos inventados pero son decimales y van de 0 a 10). Tenemos que pasar esas notas a categorias para los boletines donde:

0-2 es mal
2-4 es regular
4-7 es bien
7-9 es muy bien
9-10 es excelente.

y ademas despues sabemos que bien, muy bien y excelente son aprobados, regular y mal no. 

Como modificamos el dataset para hacerlo de manera rapida. 

Lo que necesitamos es pasar de una variable cuantitativa a una cualitativa y despues transformar y agrupar las categorias.

In [46]:
import numpy as np
import pandas as pd

In [47]:
# Generamos un dataset ficticio.

Mal = 2
Regular = 4
Bien = 7
Muy_Bien = 9
Excelente = 10

notas = np.random.randint(0,1000,80)/100  # Generamos enteros entre 0 y 10 ochenta veces
data = pd.DataFrame({"Notas":notas})
data.head(10)

   Notas
0   3.11
1   6.47
2   9.07
3   1.58
4   9.97
5   1.14
6   5.86
7   8.33
8   8.01
9   5.56

In [48]:
# Vamos a tratar de resolver la primer parte.
# Para eso queremos convertir una variable numerica en una categorica con rangos preestablecidos. La funcion pd.cut hace eso, pero necesita saber los bins
bins = [0, Mal, Regular, Bien, Muy_Bien, Excelente+0.01] # Recordar que ya definimos que es Mal, Bien, etc.
# Vamos a generar etiquetas (strings) que se correspondan a esas categorias
group_labels = ["Mal","Regular","Bien","Muy Bien","Excelente"]

Notas_categorizadas = pd.cut(data["Notas"], bins, right=True, include_lowest=True, labels=group_labels) # , right=False , labels=group_labels
Notas_categorizadas

0       Regular
1          Bien
2     Excelente
3           Mal
4     Excelente
        ...
75    Excelente
76      Regular
77         Bien
78      Regular
79      Regular
Name: Notas, Length: 80, dtype: category
Categories (5, object): ['Mal' < 'Regular' < 'Bien' < 'Muy Bien' < 'Excelente']

In [50]:
Notas_categorizadas.value_counts()
data["Categorias"] = Notas_categorizadas

In [51]:
dict_aprobacion = {"Mal":"Desaprobado","Regular":"Desaprobado","Bien":"Aprobado","Muy Bien":"Aprobado","Excelente":"Aprobado"}
data["Condicion"] = data["Categorias"].map(dict_aprobacion)
data.head(10)

   Notas Categorias    Condicion
0   3.11    Regular  Desaprobado
1   6.47       Bien     Aprobado
2   9.07  Excelente     Aprobado
3   1.58        Mal  Desaprobado
4   9.97  Excelente     Aprobado
5   1.14        Mal  Desaprobado
6   5.86       Bien     Aprobado
7   8.33   Muy Bien     Aprobado
8   8.01   Muy Bien     Aprobado
9   5.56       Bien     Aprobado

In [52]:
data_dummy = pd.get_dummies(data, drop_first=True)

In [53]:
data_dummy

,Notas,Categorias_Regular,Categorias_Bien,Categorias_Muy Bien,Categorias_Excelente,Condicion_Desaprobado
0,3.11,1,0,0,0,1
1,6.47,0,1,0,0,0
2,9.07,0,0,0,1,0
3,1.58,0,0,0,0,1
4,9.97,0,0,0,1,0
...,...,...,...,...,...,...
75,9.02,0,0,0,1,0
76,2.75,1,0,0,0,1
77,4.02,0,1,0,0,0
78,2.97,1,0,0,0,1
79,2.56,1,0,0,0,1